[*.cs]

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = warning

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = block_scoped
